.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
/.quarto/
.httr-oauth
.DS_Store
R
data/model-data
_format.yml
rsconnect
components_hm_files
compiler/
man
site_libs
_extensions/
_site/
_freeze/
docs/
_book/
*.html
*html
*.aux
*.bcf
*.idx
*.log
*.pdf
*.tex
*.toc
*.bbl
*.blg
*.ilg
*.ind
*.glo
*.ist
*.run.xml
*.*_cache/
*.*_files/
/modeling/
11-spatials_files
*.zip